.row {
  margin-left: 20px;
  object-fit: container;
  margin-top: 20px;
  padding-top: 20px;
  
}

.row_posters {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 20px;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}
.row_posters::-webkit-scrollbar {
  display: none;
}

.row_poster {
  object-fit: contain;
  width: 100%;
  min-height: 100px;
  margin-right: 10px;
  transition: transform 450ms;
  border: 1px solid transparent;
}

.row_poster:hover {
  transform: scale(1.08);
  cursor: pointer;
  border: 1px solid red;
}

.row_posterLarge {
  height: 250px;
}
.row_posterLarge:hover {
  transform: (1.09);
  cursor: pointer;
  border: 1px solid red;
}
